.read,
.write {

  .form-group {
    margin-bottom: 1rem;

    .control-label {
      display: inline-block;
      margin-bottom: 0.5rem;
    }

    .form-control {
      display: block;
      width: 100%;
      height: calc(2.25rem + 2px);
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
  }

  .btn {
    background-color: #1890ff;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #1890ff;
    box-shadow: 0 2px 0 rgba(0,0,0,.035);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    height: 32px;
    line-height: 1.5;
    padding: 0 15px;
    position: relative;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,.12);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    white-space: nowrap;
  }
}

.read {

  .ant-list-vertical .ant-list-item-content {
    margin: 0;
  }
}
